.Catalog {
	display: grid;
	grid-template: 1fr / 2fr 6fr;
	height: 100%;
}
.Catalog_Content {
	padding: 0 0 100px;
}
.Catalog_Content__products {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
}
.Catalog_Content__item {
	width: 33%;
}
