.PreviewCatalog {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
}
.PreviewCatalog__list {
	display: grid;
	width: 100%;
	grid-template: 1fr / repeat(4, 1fr);
	grid-gap: 20px;
}
.PreviewCatalog__item {
	display: flex;
	flex-direction: column;
}
