.Social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	width: 360px;
	height: 260px;
	position: relative;
	padding: 20px;
}
.Social:hover {
	border-radius: 20px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
.Social:hover::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background-image: url(../../../../public/icon/out.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.Social__icon {
	width: 60px;
	height: 60px;
}
.Social__descriptions {
	text-align: center;
}
