.Products {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Products__list {
	display: grid;
	grid-template: 1fr / repeat(4, 1fr);
	padding: 50px 0;
	grid-gap: 50px;
}
.Products__item {
	display: flex;
	flex-direction: column;
}
