body {
	width: 1440px;
	font-family: 'Ysabeau SC', sans-serif;
	font-size: 18px;
}
ul {
	list-style: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}
