@keyframes Category_shadow_in {
	from {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	to {
		box-shadow: 0 12px 40px 2px rgba(0, 0, 0, 0.5);
	}
}

@keyframes Category_shadow_out {
	from {
		box-shadow: 0 12px 40px 2px rgba(0, 0, 0, 0.5);
	}
	to {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
